## Question:
##    nyc_weather.csv contains new york city weather for first few days in the month of January. Write a program that can answer following,
###    What was the average temperature in first week of Jan
###    What was the maximum temperature in first 10 days of Jan
###    Figure out data structure that is best for this problem

## Solution:
## The best data structure to use here was a list because all we wanted was access of temperature elements

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("nyc_weather.csv")

In [8]:
df

     date  temperature(F)
0   Jan 1              27
1   Jan 2              31
2   Jan 3              23
3   Jan 4              34
4   Jan 5              37
5   Jan 6              38
6   Jan 7              29
7   Jan 8              30
8   Jan 9              35
9  Jan 10              30

In [9]:
temperatures = df["temperature(F)"].tolist()

In [10]:
temperatures

[27, 31, 23, 34, 37, 38, 29, 30, 35, 30]

    task 1:
    What was the average temperature in first week of Jan?
    from Jan 1 to Jan 7 (7 days in a week)

In [17]:
avg_temp = sum(temperatures[:7])/len(temperatures[:7])

In [18]:
print(avg_temp)

31.285714285714285

    task 2:
    What was the maximum temperature in first 10 days of Jan

In [19]:
max_temp = max(temperatures[:10])

In [20]:
print(max_temp)

38